/* -- Brand Variables -- */
@brand-primary : #4db8d6;
@golden-ratio : 1.61803398875em;


/* -- HTML Elemnets -- */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: @golden-ratio;
  font-size:1.2em;
}

p {
  word-wrap: break-word;
}

a {
  color:@brand-primary;
}

blockquote {
  margin:0.5em 0;
}

iframe {
  margin: 0px auto !important;
}

h1, h2, h3, h4, h5, .header nav {
  font-family: 'Bitter', serif;
  line-height: @golden-ratio;
}

/* -- Header -- */
.header {
  text-align:center;
  padding:1em;
  background: #FFF;
  border-bottom: 1px solid #AAA;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  .brand {
    color: #000;
    display: inline-block;
    font-family: 'Port Lligat Slab', serif;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration:none;
    white-space:nowrap;
    flex:0 1 270px;
    margin: 0px auto;
    i {
      color: @brand-primary;
    }
  }
  nav {
    margin: 0px auto;
    flex:1 0 auto;
    ul {
      margin:0.5em 0;
      padding: 0;
      display: flex;
      flex:1 1 auto;
      list-style: none;
      text-align: center;
      justify-content: space-around;
      li {
        a {
          padding: 0.25em;
          text-decoration:none;
          color: inherit;
          font-weight: 500;
          white-space:nowrap;
          &:hover {
            border-bottom:dotted 2px @brand-primary;
          }
        }
        &.active a {
          border-bottom:dotted 2px @brand-primary;
        }
      }
    }
  }
}

/* -- Footer -- */
.footer {
  display:block;
  padding:0 1em;
  ul {
    display:flex;
    list-style:none;
    justify-content:flex-end;
    li {
      margin:0 0.5em;
      a {
        text-decoration: none;
      }
    }
  }
}

/* -- Standard Elements -- */

.jumbotron {
  background:@brand-primary;
  padding: 1em 0.5em;
  h1 {
    text-align:center;
    font-size:3em;
    line-height:1.2em;
    color:#fff;
    text-shadow: 0px 1px 1px darken(@brand-primary, 20%);
    small {
      display:block;
      font-size:0.50em;
    }
  }
}

.content {
  max-width:40em;
  padding: 1em;
  margin:0 auto;
}

/* -- Blog --*/

.blog-posts {
  list-style: none;
  margin:0;
  padding:0;
  .post {
    border-bottom:dotted 1px @brand-primary;
    padding:1em 0;
    a {
      color:inherit;
      text-decoration:none;
      overflow:hidden;
      display:block;
    }
    h2 {
      color:@brand-primary;
      &:hover {
        text-decoration:underline;
      }
    }
    i {
      float:right;
      font-size:0.85em;
    }
  }
}

.blog-content {
  border-bottom:dotted 1px @brand-primary;
  padding-bottom:2em;
  img {
    width:100%;
    display:block;
    &.small-img {
      min-width: 200px;
      width: 500px;
      max-width: 99%;
      margin:0px auto;
    }
  }
  blockquote {
    padding: 1em;
    margin: 0;
    display: block;
    border-left: solid 6px #4db8d6;
    font-style: italic;
    font-weight: 400;
  }
}

pre {
  font-family:'Inconsolata', 'monaco', monospace;
  background:#f2f2f2;
  display: block;
  padding: 1em;
  border: 1px solid #e3e3e3;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  overflow:scroll;
  line-height:1.1em;
}

.author strong {
  display:block;
}

dl {
  display:flex;
  justify-content: center;
  font-size: 0.75em;
  border-bottom:dotted 1px @brand-primary;
  flex-wrap:wrap;
  padding-bottom:1em;
  dt {
    font-weight:500;
    flex: 0 1 50%;
  }
  dd {
    flex: 0 1 50%;
    margin:0;
  }
}

/* -- Team --*/

.team {
  list-style: none;
  margin:0;
  padding:0;
}
.member {
  border-bottom:dotted 1px @brand-primary;
  padding:2em 0;
  display:flex;
  flex-wrap:wrap;
  align-items: stretch;
  .avatar-container {
    flex:1 1 auto;
    text-align:center;
  }
  img {
    width:100px;
    height:100px;
    margin:0px 1em;
  }
}
.profile {
  flex:2 1 400px;
  h2 {
    margin:0;
    text-align:center;
    small {
      display:block;
      color:@brand-primary;
      font-size:0.75em;
    }
  }
  strong {
    display:block;
  }
}

.avatar {
  background-color: @brand-primary ;
  box-shadow: 0 0 0 5px @brand-primary ;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    -moz-animation:bounce-out .4s linear;
    -webkit-animation:bounce-out .4s linear;
    webkit-animation:bounce-out .4s linear;
  }
}

/* -- Contect -- */
label {
  width:100%;
  font-size:1.2em;
  max-width:20em;
  display:block;
  margin-top:0.5em;
}

input, textarea {
  width:100%;
  font-size:1.2em;
  max-width:20em;
  border:solid 1px #CCC;
  padding:0.5em 1em;
  border-radius:0.25em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

button, .button {
  background:@brand-primary;
  color:#fff;
  border:solid 1px darken(@brand-primary,10%);
  padding:0.5em 1em;
  font-weight:500;
  font-size:1.2em;
  border-radius:0.25em;
  text-decoration:none;
}

/* -- Social Media -- */
a[href*="twitter"] i {
  color:#00aced;
}
a[href*="facebook"] i {
  color:#3b5998;
}
a[href*="google"] i {
  color:#dd4b39;
}

@media (min-width: 576px) {
  header {
    text-align:center;
  }
  .profile {
    h2 {
      text-align:left;
    }
  }
}

@media (min-width: 800px) {
  .header nav ul {
    justify-content:flex-end;
    font-size:1.2em;
    li a {
      padding:0.5em;
    }
  }
  dl {
    justify-content:center;
    dt {
      flex:0 0 auto;
    }
    dd {
      flex:0 0 auto;
      margin:0 1.5em 0 0.5em
    }
  }
}

/*--- Bounce Out Animation ---*/

@-moz-keyframes bounce-out {
  0%{ box-shadow: 0 0 0 4px @brand-primary; opacity:1;}
  25%{ box-shadow: 0 0 0 1px @brand-primary; opacity:1;}
  50%{ box-shadow: 0 0 0 7px @brand-primary; opacity:1; }
  75%{ box-shadow: 0 0 0 4px @brand-primary; opacity:1;}
  100%{ box-shadow: 0 0 0 5px @brand-primary; opacity:1;}
}

@-webkit-keyframes bounce-out {
  0%{ box-shadow: 0 0 0 4px @brand-primary; opacity:1;}
  25%{ box-shadow: 0 0 0 1px @brand-primary; opacity:1;}
  50%{ box-shadow: 0 0 0 7px @brand-primary; opacity:1; }
  75%{ box-shadow: 0 0 0 4px @brand-primary; opacity:1;}
  100%{ box-shadow: 0 0 0 5px @brand-primary; opacity:1;}
}

@import "syntax.less";
@import "font-awesome/less/font-awesome.less";
