/* -- Brand -- */
@brand-primary  : #4db8d6;
@warning        : #5bc7de;
@error          : #d9534f;
@success        : #acd750;
@body-text      : #333333;
@font-monospace: 'Inconsolata', 'monaco', monospace;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height:1.6em;
  font-size:1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Port Lligat Slab', serif;
}

.content {
  p {
    word-wrap: break-word;
  }
}

header {
  padding:2em 1em;
  background: #FFF;
  border-bottom: 1px solid #AAA;
  .brand {
    color: #000;
    display: inline-block;
    font-family: 'Port Lligat Slab', serif;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration:none;
    float:left;
  }
  nav {
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      justify-content: flex-end;
      li {
        margin:0.25em;
        a {
          padding: 0.5em;
          text-decoration:none;
          color: inherit;
          font-weight: 500;
          font-size:1.2em;
        }
        &.active a {
          border-bottom:dotted 2px #4db8d6;
        }
      }
    }
  }
}

.jumbotron {
  background:#4db8d6;
  padding: 2em 1em;
  h1 {
    text-align:right;
    font-size:3em;
    line-height:1.2em;
    color:#fff;
    text-shadow:2px 2px darken(#4db8d6, 20%);
    small {
      display:block;
    }
  }
}

.content {
  max-width:40em;
  padding: 1em;
  margin:0 auto;
}



// blockquote {
//   padding:0;
//   margin:0;
//   line-height:1.6em;
//   &:before {
//     font-family: FontAwesome;
//     content: "\f10d";
//     color:@brand-primary;
//     opacity:0.6;
//     margin-right:0.5em;
//   }
//   &:after {
//     font-family: FontAwesome;
//     content: "\f10e";
//     color:@brand-primary;
//     opacity:0.6;
//     margin-left:0.5em;
//   }
// }

// .mega-image {
//   background:#4db8d6;
//   height:20em;
//   position:relative;
//   display:block;
//   margin-top: -2em;
//   .caption-block {
//     width: 90%;
//     margin: 0 auto;
//     height:100%;
//     .caption {
//       padding:0.5em 1em;
//       color:#000;
//       font-size:2.4em;
//       background: #FFF;
//       opacity: .94;
//       border-radius: 4px;
//     }
//   }
// }
// .member {
//   padding: 4em 0;
//   div:not(.profile) {
//     img {
//       width:100%;
//       margin-bottom:0.5em;
//     }
//   }
//   .profile {
//     h2, .lead {
//       margin-top:0;
//     }
//   }
// }


// footer {
//   background: #FFF;
//   padding: 20px 0;
//   overflow: hidden;
//   width: 100%;
//   .contact {
//     list-style: none;
//     float: right;
//     margin: 0;
//     padding: 0;
//     a {
//       text-decoration: none;
//       color: @body-text;
//       i {
//         display: inline-block;
//         margin-right: 10px;
//         width: 10px;
//       }
//       .fa-twitter {
//         color: #7EB3CD;
//       }
//       .fa-github {
//         color: #333;
//       }
//       .fa-dribbble {
//         color: #ea4c89;
//       }
//       .fa-envelope-o {
//         color: @brand-primary;
//       }
//     }
//   }
// }



// .highlight {
//   padding: 10px 20px;
//   border-radius: 5px;
//   overflow-x: auto;
//   pre {
//     font-family: @font-monospace;
//     font-size: 16px;
//     font-weight: 400;
//     code {
//       font-family: inherit;
//     }
//   }
// }

// .blog-posts {
//   position: relative;
//   li {
//     padding-bottom: 40px;
//     a {
//       color: @body-text;
//       text-decoration: none;
//       &:hover {
//         color: @brand-primary;
//       }
//     }
//     .summary {
//       padding-left: 30px;
//       border-left: 2px solid #AAA;
//       .avatar {
//         margin-right: 20px;
//         height: 100%;
//       }
//     }
//   }
// }

// .blog-content {
//   padding-bottom: 20px;
//   img {
//     max-width: 100%;
//   }
// }

// .comments {
//   display: block;
//   margin-top: 30px;
// }

blockquote {
  padding:0;
  margin:0;
}

.member {
  border-bottom:dotted 1px #4db8d6;
  padding:1em 0;
  display:flex;
  img {
    width:100px;
    height:100px;
    margin:1em 1em 1em 0;
    flex: 0 0 auto;
  }
}

.avatar {
  background-color: @brand-primary ;
  box-shadow: 0 0 0 5px @brand-primary ;
  border-radius: 50%;
  flex:1;
  &:hover {
    cursor: pointer;
    -moz-animation:bounce-out .4s linear;
    -webkit-animation:bounce-out .4s linear;webkit-animation:bounce-out .4s linear;
  }
}

/*--- Bounce Out ---*/

@-moz-keyframes bounce-out {
  0%{ box-shadow: 0 0 0 4px @brand-primary; opacity:1;}
  25%{ box-shadow: 0 0 0 1px @brand-primary; opacity:1;}
  50%{ box-shadow: 0 0 0 7px @brand-primary; opacity:1; }
  75%{ box-shadow: 0 0 0 4px @brand-primary; opacity:1;}
  100%{ box-shadow: 0 0 0 5px @brand-primary; opacity:1;}
}

@-webkit-keyframes bounce-out {
  0%{ box-shadow: 0 0 0 4px @brand-primary; opacity:1;}
  25%{ box-shadow: 0 0 0 1px @brand-primary; opacity:1;}
  50%{ box-shadow: 0 0 0 7px @brand-primary; opacity:1; }
  75%{ box-shadow: 0 0 0 4px @brand-primary; opacity:1;}
  100%{ box-shadow: 0 0 0 5px @brand-primary; opacity:1;}
}