<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Devbench | {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta http-equiv="cleartype" content="on">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="apple-mobile-web-app-title" content="DevBench">

  <!-- Twitter Cards Meta Data -->
  <meta name="twitter:card" content="summary">
  <meta name="ttwitter:site" content="@devbenchteam">
  <meta name="twitter:site:id" content="1381672801">
  <meta name="twitter:creator" content="@jodiedoubleday">
  <meta name="twitter:creator:id" "20506002">
  <meta name="twitter:title" content="Meet the DevBench team">
  <meta name="twitter:description" content="Welcome to DevBench. We are four freelance web developers based in Kent, UK. We specialise in website builds which create a fantastic user experience. We are usability experts and create websites which work on all browser and mobile devices (iPad, iPhone, Android devices etc).">
  <meta name="twitter:image" content="http://devben.ch/img/jack.jpg">
  <meta name="twitter:domain" content="devben.ch">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="{{ site.url }}/assets/images/favicons/favicon-32.png" sizes="32x32">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/assets/images/favicons/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/images/favicons/favicon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/assets/images/favicons/favicon-120.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/images/favicons/favicon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/favicons/favicon-72.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/favicons/favicon-57.png">
  <meta name="msapplication-TileImage" content="{{ site.url }}/assets/images/favicons/favicon-144.png">
  <meta name="msapplication-TileColor" content="#4db8d6">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Slab|Antic+Slab|Duru+Sans|Inconsolata' rel='stylesheet' type='text/css'>

  <!-- JS -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/less/main.css" />
</head>
