<!-- The basic styles -->
<style>
  * {
    box-sizing: border-box;
  }
  html {
    height: 100%;
    min-height: 100%;
  }
  body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #000;
    margin: 0;
    padding: 0;
    font-size:1.2em;
    line-height:1.6em;
  }
  .content {
    max-width:40em;
    padding: 1em;
    margin:0 auto;
  }
  a {
    color:#4db8d6;
  }
  .jumbotron {
    background:#4db8d6;
    padding: 1em 0.5em;
  }
  .jumbotron h1 {
    text-align:center;
    font-size:3em;
    line-height:1.2em;
    color:#fff;
  }
  .jumbotron h1 small {
    display:block;
    font-size:0.50em;
  }
  .header {
    padding: 1em;
    overflow:hidden;
  }
  .brand {
    color: #000;
    display: inline-block;
    font-weight: 700;
    text-decoration:none;
    white-space:nowrap;
    margin: 0px auto;
    font-size: 2.5em;
    float:left;
  }
  nav {
    margin: 0px auto;
  }
  nav ul {
    margin:0.5em 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: auto;
    float: right;
  }
  nav ul li {
    display:inline-block;
  }
  nav ul li a {
    padding: 0.25em;
    text-decoration:none;
    white-space:nowrap;
    color:#333;
    font-weight:500;
  }
  nav ul li.active a {
    border-bottom:dotted 2px #4db8d6;
  }
</style>