<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
  {% include head.html %}
  <body class="{{ page.class }}">
    {% include header.html %}
    <div class="container">
      <div class="jumbotron">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="content">
        <dl>
          <dt>Reading time</dt>
          <dd>{{ page.time}}</dd>
          <dt>Author</dt>
          <dd>{{ page.author}}</dd>
          <dt>Date</dt>
          <dd>{{ page.date | date: "%-d %B %Y"}}</dd>
          <dt>Category</dt>
          <dd>{{ page.category}}</dd>
        </dl>
        <div class="blog-content">
          {{ content }}
        </div>
        <div class="member">
          <div class="avatar-container">
            <img class="avatar" src="{{ site.url }}{{ page.avatar }}" />
          </div>
          <div class="profile">
            <strong>{{ page.author }}</strong>
            Hope you enjoyed reading my thoughts. <br>Want to share yours? <a href="http://twitter.com/?status=@{{ page.twitter }}" title="{{ page.author }}'s' Twitter">tweet me</a>.
          </div>
        </div>
        <!--<div class="comments">
          {% include disqus.html %}
        </div>-->
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
